nav.top-bar(data-topbar='', role='navigation')
      ul.title-area
        li.name
          h2
            a(href='#') AGATHA
        li.toggle-topbar.menu-icon
          a(href='#')
            span Menu
      section.top-bar-section
        // Right Nav Section
        ul.right
          li.active
            a(target='_blank', href='https://cabrera-dcc.github.io') Daniel Cabrera Cebrero
        // Left Nav Section
        ul.left
          li
            a(target='_blank', href='https://github.com/cabrera-dcc/agatha-issue-tracking-system') Issue Tracking System